<div class="column">
    <div class="row">
        <div class="card col-md-6 col-sm-6 col-xs-6">
            <app-bar-chart></app-bar-chart>
        </div>
        <div class="card col-md-6 col-sm-6 col-xs-6">
            <app-line-chart></app-line-chart>
        </div>
    </div>
    <div class="row">
            <div class="card col-md-6 col-sm-6 col-xs-6">
                <app-pie-chart></app-pie-chart>
            </div>
            <div class="card col-md-6 col-sm-6 col-xs-6">
                <app-bubble-chart></app-bubble-chart>
            </div>
    </div> 
</div>  
